<html lang="en">
<head></head>
<body>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#placeOrderModal">Place
    Order
</button>
<div class="modal fade" id="placeOrderModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Place Order </h4>
            </div>
            <div class="modal-body" id="placeOrderModalBody">
                <div class="form-group">
                    <label for="order-type">Select Order Type</label>
                    <select class="form-control" id="order-type" name="order-type" required="true"
                            onchange="onOrderTypeSelect()">
                        <option disabled selected value> -- select an option --</option>
                        <option>Cheapest Shopping Cart</option>
                        <option>From Selected Store</option>
                    </select>
                </div>
                <div class="form-group" id="select-store" style="visibility:hidden">
                    <label for="order-store">Select Store</label>
                    <select class="form-control" id="order-store"
                            onchange="onStoreSelect()">
                    </select>
                </div>
                <lable>Insert Your Location coordinates</lable>
                <div class="form-group">
                    <label for="x-coordinate">X Coordinate:</label>
                    <input id="x-coordinate" type="text" class="form-control" required="true">
                </div>
                <div class="form-group">
                    <label for="y-coordinate">Y Coordinate:</label>
                    <input id="y-coordinate" type="text" class="form-control" required="true">
                </div>
                <div class="form-group">
                    <label class="control-label" for="order-date">Date</label>
                    <input type="date" class="form-control" id="order-date" name="date"
                           placeholder="MM/DD/YYY"
                           type="text" required="true"/>
                </div>
                <label class="control-label" for="order-items-table">Select Items</label>
                <table id="order-items-table" data-toggle="table" data-sort-stable="true">
                    <thead>
                    <th data-sortable="true">Id</th>
                    <th data-sortable="true">Item</th>
                    <th data-sortable="true">Purchase Category</th>
                    <th data-sortable="true" id="item-price">Price</th>
                    <th>Amount</th>
                    </thead>
                    <tbody id="t-body">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="onModalClose()">
                    Close
                </button>
                <button type="button" class="btn btn-primary" id="submit" onclick="placeOrder()">Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="dynamicOrderOfferModal" role="dialog" style="overflow-y: auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order Offer</h4>
            </div>
            <div class="modal-body" id="dynamicOrderOfferModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="onModalClose()">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="getDiscounts()">Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="selectDiscountsModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order Discounts </h4>
            </div>
            <div class="modal-body" id="selectDiscountsModalBody">
<!--                <div id="discounts-accordion" class=" panel-group col-xs-4" role="tablist" aria-multiselectable="true">-->
<!--                </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="onModalClose()">
                    Close
                </button>
                <button type="button" class="btn btn-primary" onclick="submitDiscounts()">Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="orderSummaryModal" role="dialog" style="overflow-y: auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Order Summary</h4>
            </div>
            <div class="modal-body" id="orderSummaryModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="confirmOrder(false)">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="confirmOrder(true)">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="rateOrderModal" role="dialog" style="overflow-y: auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rate Order</h4>
            </div>
            <div class="modal-body" id="rateOrderModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submitRateOrder()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>


</body>
</html>
