<html lang="en">
<head></head>
<body>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal"
        onclick="displayOrders()">My Orders
</button>
<div class="modal fade" id="displayOrdersModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">My Orders</h4>
            </div>
            <div class="modal-body" id="displayOrdersModalBody">
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" id="submit">Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
